.menu-item {
    min-width: 30%;
    height: 20vh;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;

    &:hover {
        cursor: pointer;

        & .background-image {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .content {
            opacity: .9;
        }
    }

    &.large {
        height: 45vh;
    }

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
    margin-left: 7.5px;
    }

    .background-image{
        width:100%;
        height:100%;
        background-position: center;
        background-size: cover;
        grid-area: 1 / 1 / 1 / 2;
    }

    .content {
        height: 90px;
        max-height: 60%;
        min-width: 10vw;
        min-width: 120px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        background-color: white;
        opacity: 0.7;
        grid-area: 1 / 1 / 1 / 2;
        align-self: center;
        justify-self: center;

        .title {
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 22px;
            color: #4a4a4a;
        }

        .subtitle {
            font-weight: lighter;
            font-size: 16px;
        }
    }
}